body {
  color: white;
  padding-top: 100px;
  font-family: 'Comic Sans MS';
}

.logo-img {
  height: 50px;
  width: 50px;
}

.navbar-brand, .nav-item.nav-link {
    color: white !important;
}

.profile-picture {
  height: 128px;
  width: 128px;
}

.profile-picture-small {
  height: 64px;
  width: 64px;
}

.post-content {
  max-width: 690px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
}