{% extends "baselayout.html" %}
{% block content %}
  <article class="media border rounded p-4">
    <img class="rounded-circle profile-picture-small mr-2" src="{{ url_for('static', filename='pfps/'+post.author.profile_picture_file) }}">
    <div class="media-body">
      <div class="article-metadata d-inline">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted" data-utc-time="{{ post.date.strftime('%Y-%m-%dT%H:%MZ') }}">{{ post.date.strftime('%Y-%m-%d %H:%M') }}</small>
        {% if post.author == current_user %}
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger btn-sm m-1">Delete Post</button>
          </form>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elements = document.querySelectorAll('[data-utc-time]');
      elements.forEach(function(element) {
        var utcTime = element.getAttribute('data-utc-time');
        var localTime = new Date(utcTime);
        element.textContent = localTime.toLocaleDateString() + ', ' +
                              localTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
      });
    });
  </script>
{% endblock content %}